
@{
    ViewBag.Title = "ClientHome";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .footer {
    margin-top:0%;
    }
</style>
<div class="page">
  
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <!-- Content section -->
        <section class="well center">
            <div class="container">
                <div class="row">
                    <div class="grid_8 preffix_2">
                        <h2>Welcome</h2>
                        <h3>To the Online F.I.R Filing System</h3>
                        <p>
                            The Online FIR System is aimed in digitalizing all FIR filing process thus, simplifying the process of FIR filing for the public and simultaneously providing a simple but powerful admin panel for the administration for effective managment of FIRs.
                        </p>
                    </div>
                </div>
                <div class="row wow fadeInUp">
                    <ul class="inline-list">
                        <li>
                            <div class="grid_2">
                                @*<a class="thumb" href="~/Content/Client/Images/page-1_img01_original.jpg">*@
                                    <img src="~/Content/Client/Images/page-1_img01.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                              @*  </a>*@
                            </div>
                        </li>
                        <li>
                            <div class="grid_2">
                                @*<a class="thumb" href="~/Content/Client/Images/page-1_img02_original.jpg">*@
                                    <img src="~/Content/Client/Images/page-1_img02.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                @*</a>*@
                            </div>
                        </li>
                        <li>
                            <div class="grid_2">
                                @*<a class="thumb" href="~/Content/Client/Images/page-1_img03_original.jpg">*@
                                    <img src="~/Content/Client/Images/page-1_img03.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                @*</a>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END Content section -->
        <!-- Content section -->
        <section class="well2 well2__mod1">
            <div class="container">
                <div class="row">
                    <div class="preffix_4 grid_8">
                        <h2>About the System</h2>
                        <h3>Key features of the system</h3>
                        <p>
                            Online FIR system is to develop an online crime Reporting and management system which is easily accessible to the public ,the police Department and the administrative department. 
                        </p>
                        <ul class="marked-list">
                            <li class="wow fadeInLeft">
                               Easy interface for public.
                            </li>
                            <li class="wow fadeInRight">
                                Powerful admin panels for police station admin and HeadQuaters administration.  
                            </li>
                            <li class="wow fadeInLeft">
                                Extremely fast report and respose rate due to all process carried out digitally. 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="slogan">YOUR <span>SAFETY</span> IS OUR JOB!</h2>
        </section>
        <!-- END Content section -->
        <!-- Parallax section -->
        <section class="parallax parallax1 center" data-url="/Content/Client/Images/parallax01.jpg" data-mobile="true">
            <div class="container wow fadeInUp">
                <h2>Crime statistics</h2>
                <h3>Following are the crime statistics in the last month.</h3>
                <div class="row">
                    <div class="grid_3">
                        <div class="radial-progress" data-border="18" data-border-bg="rgba(255,255,255,.2)" data-border-fg="#15afdc">
                            70<span>%</span>
                            <span class="sub">
                                FRAUDS
                            </span>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="radial-progress" data-border="18" data-border-bg="rgba(255,255,255,.2)" data-border-fg="#15afdc">
                            78<span>%</span>
                            <span class="sub">
                                ROBBERIES
                            </span>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="radial-progress" data-border="18" data-border-bg="rgba(255,255,255,.2)" data-border-fg="#15afdc">
                            47<span>%</span>
                            <span class="sub">
                                ACCIDENTS
                            </span>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="radial-progress" data-border="18" data-border-bg="rgba(255,255,255,.2)" data-border-fg="#15afdc">
                            18<span>%</span>
                            <span class="sub">
                                Burglaries
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Parallax section -->
        <!-- Carousel -->
        <section class="well3 center">
            <div class="container">
                <h2 class="wow fadeInLeft">HEADLINES</h2>
                <h3>Following are the special headlines</h3>

                <div class="owl-carousel">
                    <a href="#" class="item news-item__carousel">
                        <div class="box">
                            <div class="box_aside">
                                <time datetime="2014-12-09">
                                    <span class="day">14</span>
                                    <span class="date">03 / 2018</span>
                                </time>
                            </div>
                            <div class="box_cnt" data-equal-group="1">
                                <p>
                                    LUCKNOW: In a first-of-its-kind move, UP police will post women cops as duty officers at every police station falling under Lucknow range.
                                    Later on, this model will be replicated in other police stations across the state. Lucknow range comprises Lucknow, Sitapur, Unnao, Hardoi, Kheri and Rae Bareli.
                                    The woman duty officer will be of inspector or sub-inspector rank, depending upon the availability, and will hear complaints and take feedback from complainants.
                                    "The aim behind the decision is to make police more people-friendly and approachable as women are more sympathetic than male cops," said IG, Lucknow Range, Sujeet Pandey.
                                    "It will also enable women complainants to approach police easily and voice their gender-specific issues properly," said the IG.
                                </p>
                            </div>
                            <div class="box_cnt__no-flow" data-equal-group="2">
                                <h4 style="color:black;font-size:18px;">Every police station to have woman officer</h4>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item news-item__carousel">
                        <div class="box">
                            <div class="box_aside">
                                <time datetime="2014-09-23">
                                    <span class="day">27</span>
                                    <span class="date">03 / 2018</span>
                                </time>
                            </div>
                            <div class="box_cnt" data-equal-group="1">
                                <p>
                                    BAREILLY: In a bid to provide clean and secure toilet facilities to around 7,583 women police personnel in Uttar Pradesh, director general of police (DGP) O P Singh, on Tuesday, instructed senior officers to construct separate toilets for female officers in all districts. The senior superintendents of police (SSP) in all districts have also been asked to build visitors rooms for complainants who come to police stations. Inspector generals (IG) of the 16 UP ranges have been asked to provide details of land availability in police stations under their jurisdiction. Official sources said that construction of toilets for women personnel has been taken on a war footing and all police stations are likely to have separate washrooms within a year.
                                </p>
                            </div>
                            <div class="box_cnt__no-flow" data-equal-group="2">
                                <h4 style="color:black;font-size:18px;"><b>UP DGP instructs to build separate toilets for women officers in every police station</b></h4>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item news-item__carousel">
                        <div class="box">
                            <div class="box_aside">
                                <time datetime="2014-11-17">
                                    <span class="day">28</span>
                                    <span class="date">03 / 2018</span>
                                </time>
                            </div>
                            <div class="box_cnt" data-equal-group="1">
                                <p>
                                    On Duty, a short film on a cop, who put duty ahead of personnel tragedy, set to inspire other police personnel

                                    Inspired by the story of a real cop Bhupendra Singh Tomar (57), a short film made on him by national award winning film director Tigmanshu Dhulia is all set to other police personnel think of emulating him.

                                    Putting duty ahead of personal tragedy, Tomar rushed to the rescue of a victim of stabbing even after getting a call about the sudden death of his 27-year-old daughter Jyoti.

                                    In the short film, ‘Taare Zameen Par’ fame actor Vipin Sharma plays Tomar’s character as UP police head constable of UP100 police response vehicle (PRV).

                                    Dhulia shot with the actor in various locations of Lucknow on Saturday and Sunday.

                                    While on duty at PRV in Badgaon area Saharanpur February 23 this year, Tomar was rushing to the victim, who was stabbed and was lying on the road, when he got a call from his family informing him that his daughter had died after accidentally falling in the washroom at her residence in Meerut.
                                </p>
                            </div>
                            <div class="box_cnt__no-flow" data-equal-group="2">
                                <h4 style="color:black;font-size:18px;">Tigmanshu ‘shoots’ for UP police</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tel">
                Dial 100 for emergency services.
            </div>
        </section>
        <!-- END Carousel -->
        <!-- Map -->
        <section class="map">
            <div id="google-map" class="map_model"></div>
            <ul class="map_locations">
                <li data-x="80.9462" data-y="26.8467">
                    <p> Lucknow, Uttar Pradesh , India. <span>800 2345-6789</span></p>
                </li>
            </ul>
        </section>
        <!-- END Map -->
    </main>
    <!--========================================================
                              FOOTER
    =========================================================-->
   
</div>

