
@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<div class="box_cnt_t">
    <div class="tab-content panels-faq">
        <div class="tab-pane active" id="tab1">
            <div class="panel-group" id="help-accordion-1">
                <div class="panel panel-default panel-help">
                    <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>Why this application has been developed?</h2>
                        </div>
                    </a>
                    <div id="opret-produkt" class="collapse in">
                        <div class="panel-body">
                            <p>
                                The Police Department has consistently been adopting new methodologies and technologies to enhance its service delivery capacity. Our endeavour has been to identify areas where newer means can help in reducing public inconvenience.
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>What types of complaints cannot be lodged?</h2>
                        </div>
                    </a>
                    <div id="rediger-produkt" class="collapse">
                        <div class="panel-body">
                            <p><p>This is not an emergency response service and should    not be used to contact the police if: </p>
                            <ol>
                                <li>A crime is taking place or is in progress.</li>
                                <li>The suspect(s) involved in the crime is/are still at    the scene or in the vicinity.</li>
                                <li>Someone&rsquo;s life or property is in immediate danger.</li>
                                <li>Someone has been injured in the incident. </li>
                                <li>The report pertains to a missing person. </li>
                                <li>Physical evidence such as blood stains, fingerprints    have been found at a suspected scene of crime. </li>
                                <li>Missing/lost articles are related to any crime. </li>
                            </ol>
                            <p><strong>In the above situations    or in any other emergency: Always call 100 or contact the nearest police    station</strong></p>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>I have not received an e-mail confirmation even though I have submitted my report.</h2>
                        </div>
                    </a>
                    <div id="ret-pris" class="collapse">
                        <div class="panel-body">
                            <ul>
                                <li>You may have accidentally provided a wrong e-mail address or your e-mail inbox is full. </li>
                                <li>You may also contact our help desk to check status of your report.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#slet-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>How a ‘FIR REPORT’ can be verified?</h2>
                        </div>
                    </a>
                    <div id="slet-produkt" class="collapse">
                        <div class="panel-body">
                            <p>Any person can verify the ‘FIR’ by filling FIR No. in the "Check Status" of the application on the Online FIR Filing web portal.</p>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default panel-help">
                    <a href="#false-rep" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>What action will be taken if complainant lodged any false report?</h2>
                        </div>
                    </a>
                    <div id="false-rep" class="collapse in">
                        <div class="panel-body">
                            <p>False complaint/information to the police is a <strong>strictly punishable offence.</strong> </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#charges" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>What are the charges for lodging a FIR using Online FIR Filing web platform?</h2>
                        </div>
                    </a>
                    <div id="charges" class="collapse in">
                        <div class="panel-body">
                            <p>
                                The Online FIR web platform is provided <strong>of charge to the public.</strong>  You use this application as and when needed without any charge.
                                Your internet operator will levy charges for GPRS / 3G (data charges). Please check with your operator for details.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#login-mand" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>Is it mandatory to login to file a FIR?</h2>
                        </div>
                    </a>
                    <div id="login-mand" class="collapse in">
                        <div class="panel-body">
                            <p>
                                User is not required to login to file a FIR , instead user is just required to provide <strong> valid 12-digit AADHAR Number</strong>
                                
                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-help">
                    <a href="#lost-doc" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                            <h2>Is the report considered valid to get a duplicate document issued?</h2>
                        </div>
                    </a>
                    <div id="lost-doc" class="collapse in">
                        <div class="panel-body">
                            <p>
                                Yes, it is digitally signed and can be verified online by the authority which has to reissue a lost document.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="tab-pane" id="tab2">
            <div class="panel-group" id="help-accordion-2">
                <div class="panel panel-default panel-help">
                    <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
                        <div class="panel-heading">
                            <h2>Lorem ipsum?</h2>
                        </div>
                    </a>
                    <div id="help-three" class="collapse in">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                            <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script>
    $(function () {
        $("#camera-caraousel").hide();
        $("#contact-form").hide();
    });
</script>