
@{
    ViewBag.Title = "HowToFileFIR";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
     .howto h1 {
        font-size:20px;
        color: #0a5796;
    }
    .howto {
        margin: auto;
        margin: 5px 84px 15px 196px;
    }
</style>
<script>
    $(function () {
        $("#camera-caraousel").hide();
        $("#contact-form").hide();
    });</script>
<br />
<br />

<h2>How To File FIR</h2>
<br />
<div class="howto">
    <h1>1.Navigate to the "File A FIR" link at the top.</h1>
    <h1>2.Fill up the form carefully.</h1>
    <span><strong>NOTE:</strong>We consider all the information provided by you is completely authentic, please ensure that no false information is provided. </span><br />
    <p>Also provide a valid 12 digit AADDHAR number and all the details (Name,Contact Number,email ID,etc) should be same as in your AADHAR Card.</p>
    <h1>3.After upload your complete FIR in .txt format only.</h1>
    <p>The uploaded FIR file should be in the same format as provided in the sample.</p>
    <h1>4.Please check the details provided by you again before submiting the form.</h1>
    <h1>5.After successfull FIR filing you will be provide with a unique FIR ID. Also you will receive a confiramtion email.</h1>

</div>


