
@{
    ViewBag.Title = "Reset Password Mail";
    Layout = "~/Views/Shared/_EmptyAdminLayout.cshtml";
}



<div class="sign-box" style="margin-top:-277px;">
    <h3>
        Reset Password
    </h3>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <label for="uID">Password Reset Code</label>
                <input type="text" name="resetcode" />

            </div>
            <div class="col-md-12">
                <label for="uID">New Password</label>
                <input type="password" name="npass"/>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-12">
                <label for="uID">Confirm Password</label>
                <input type="password" name="cpass"/>
            </div>
        </div>
        <div class="form-group">
            <div class="text-right col-md-12">
                <input type="button" value="Submit" onclick="location.href='@Url.Action("ResetPassword", "ResetPasswordMail")'" />
            </div>
            @ViewBag.Msg
        </div>
    </div>
    <div class="register-forgot">
        @*<a href="SignUp.html">Register</a>*@
        @*  <input type="button" value="Go Somewhere Else" onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />*@

        <a href="@Url.Action("SendResetMail", "LoginController")">Forgot your password?</a>
    </div>
</div>